<a href="https://colab.research.google.com/github/Salukuhu/Data-Structure/blob/main/Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1)Data structures are ways of organizing and storing data efficiently so that it can be accessed and manipulated easily. They are important because they allow efficient searching, sorting, insertion, and deletion operations, improving the performance of programs.

Common data structures in Python:

Lists (ordered, mutable collections)

Tuples (ordered, immutable collections)

Dictionaries (key-value pairs, fast lookups)

Sets (unordered, unique elements)

Q2)Mutable data types can be changed after creation. Example: Lists

Immutable data types cannot be changed after creation. Example: Tuples

Q3) The main difference between lists and tuples in Python lies in their mutability: lists are mutable (changeable), while tuples are immutable (unchangeable).

Q4) Dictionaries store data in key-value pairs using a hash table. Each key is hashed, and its corresponding value is stored in a memory location, allowing fast lookups (O(1) time complexity) Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

Q5) Sets store unique values, so they automatically remove duplicates.

Faster lookups (O(1)) compared to lists (O(n)).
Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

Q6) A string is an immutable sequence of characters, while a list is mutable and can hold different data types.a string is a sequence of characters enclosed in quotes (single or double), while a list is an ordered collection of items (which can be of different data types) enclosed in square brackets. Strings are immutable, meaning they cannot be changed, while lists are mutable, allowing modification after creation.

Q7) Tuples ensure data integrity in Python through **immutability**, preventing accidental changes. Their **hashability** allows usage as dictionary keys and set elements for reliable lookups. By maintaining a **consistent structure**, tuples help avoid unintended alterations in functions and data processing. They serve as **read-only storage** for critical datasets while offering **better memory efficiency and performance** than lists, reinforcing their role in stable data management.

Q8)A hash table is a data structure that stores key-value pairs and enables fast lookups, insertions, and deletions by using a hash function to compute an index for each key.

Python dictionaries use hash tables for efficient key-value storage, allowing average O(1) time complexity for lookups and modifications. Collisions are managed through methods like open addressing or chaining.

Q9)Yes, lists in Python can contain elements of different data types because they are heterogeneous data structures. A single list can store integers, floats, strings, booleans, other lists, tuples, dictionaries, and even functions.

Q10)Strings in Python are **immutable**, meaning they can't be changed after creation. This allows for **memory efficiency**, makes them **hashable** for use in dictionaries and sets, and enhances **data integrity**. Modifications create a **new string object** instead of altering the original.

Q11)Dictionaries provide **faster lookups (O(1) average time complexity)** than lists (O(n) worst case) through **hash tables**. They allow **direct access** to values using keys, support **dynamic resizing**, and are more efficient for storing **associative data**.

Q12)A tuple is preferable when data should not be modified after creation, ensuring data integrity and efficiency. For example, storing geographic coordinates (latitude, longitude). Since these values should not change, using a tuple prevents accidental modifications.

Q13)Sets in Python automatically eliminate duplicate values, ensuring that each element appears only once. When adding elements to a set, Python checks for existing values using a hash function, preventing duplicates.

Q14)Lists: The in keyword performs a linear search (O(n)), checking each element sequentially.

Dictionaries: The in keyword checks for the existence of a key (not values) using hashing (O(1) average time complexity).

Q15) No, tuples are immutable, meaning their elements cannot be changed after creation. This is because tuples are stored in a fixed memory location, making them hashable and allowing their use as dictionary keys or set elements.

Q16)A nested dictionary is a dictionary inside another dictionary, useful for representing hierarchical data like employee records, configurations, or JSON data.

Example: Storing details of multiple employees:
employees = {

    "Employee1": {"name": "Saloni", "age": 21, "department": "HR"},

    "Employee2": {"name": "Sai", "age": 13, "department": "IT"}
}

print(employees["Employee2"]["name"])  # Output: Sai

Q17)Accessing elements in a dictionary typically has an average time complexity of O(1) because of hashing. However, in the worst-case scenario (due to hash collisions), it can increase to O(n).

Q18)Lists are preferred over Dictionaries when:

1. Order matters, as they are inherently indexed.
2. Sequential processing is needed for iteration.
3. Data does not require key-value relationships.
4. Memory efficiency is a concern, since lists typically use less overhead than dictionaries.

Q19)Historically, dictionaries were unordered because they used hash tables for fast lookups. However, starting from Python 3.7, dictionaries maintain the order of insertion. Despite this order preservation, dictionaries are still optimized for key-based access rather than for accessing elements sequentially. Unlike lists, where elements can be retrieved by their position using indexing, dictionaries require you to look up elements using their keys.

Q20)Lists: Retrieval is done by index (O(1) for direct access, O(n) for searching by value).

Dictionaries: Retrieval is done by key (O(1) average time complexity due to hashing).

PRACTICAL QUESTIONS

Q1)

In [1]:
name = "Saloni"
print(name)

Saloni

Q2)

In [2]:
s = "Hello World"
print(s)
print(len(s))

Hello World
11

Q3)

In [3]:
text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)

Pyt

Q4)

In [6]:
s = "hello"
print(s.upper())

HELLO

Q5)

In [7]:
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

Q6)

In [8]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

Q7)

In [10]:
num = [1, 2, 3, 4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

Q8)

In [11]:
no = [1, 2, 3, 4, 5]
no.remove(3)
print(no)

[1, 2, 4, 5]

Q9)

In [14]:
alph = ["a", "b", "c", "d"]
print(alph[1])

b

Q10)

In [16]:
numb = [10, 20, 30, 40, 50]
numb.reverse()
print(numb)

[50, 40, 30, 20, 10]

Q11)

In [19]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

Q12)

In [21]:
colors = ("red", "green", "blue", "yellow")
print(colors[2])

blue

Q13)

In [26]:
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

Q14)

In [27]:
pets = ('dog', 'cat', 'rabbit')
index_value = pets.index('cat')
print(index_value)

1

Q15)

In [28]:
fruits = ("apple", "banana", "mango")
if "kiwi" in fruits:
  print("Kiwi is in fruits")
else:
  print("Kiwi is NOT in fruits")

Kiwi is NOT in fruits

Q16)

In [29]:
al = {"a", "b", "c"}
print(al)

{'a', 'c', 'b'}

Q17)

In [31]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

Q18)

In [34]:
number = {1, 2, 3, 4}
number.remove(4)
print(number)

{1, 2, 3}

Q19)

In [35]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
res = set1.union(set2)
print(res)

{1, 2, 3, 4, 5}

Q20)

In [37]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
res = set1.intersection(set2)
print(res)

{2, 3}

Q21)

In [38]:
my_dict = {
    "name" : "Sai",
    "age" : 13,
    "city" : "Redhakhol"
}
print(my_dict)

{'name': 'Sai', 'age': 13, 'city': 'Redhakhol'}

Q22)

In [39]:
info = {
    "name" : "John",
    "age" : 25
}
info["city"] = "USA"
print(info)

{'name': 'John', 'age': 25, 'city': 'USA'}

Q23)

In [40]:
inf = {
    "name" : "Alice",
    "age" : 30
}
print(inf["name"])

Alice

Q24)

In [41]:
data = {
    'name': 'Bob',
    'age': 22,
    'city': 'New York'
}
data.pop('age')
print(data)

{'name': 'Bob', 'city': 'New York'}

Q25)

In [45]:
my_dict = {
    'name': 'Alice',
    'city': 'Paris'
}

if "city" in my_dict:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

Q26)

In [46]:
my_list = [1, 2, 3, 4, 5]

my_tuple = ("apple", "banana", "mango")

my_dict = {"name": "Sasmita", "age": 46, "city": "Redhakhol"}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'mango')
Dictionary: {'name': 'Sasmita', 'age': 46, 'city': 'Redhakhol'}

Q27)

In [47]:
import random

random_numbers = random.sample(range(1, 101), 5)

random_numbers.sort()
print(random_numbers)

[32, 42, 64, 78, 86]

Q28)

In [48]:
list1 = ["Alok", "Sasmita", "Saloni", "Sai"]
print(list1[2])

Saloni

Q29)

In [50]:
dict1 = {"name": "Sai", "age": 13}
dict2 = {"class": 9, "city": "Redhakhol"}

dict1.update(dict2)
print(dict1)

{'name': 'Sai', 'age': 13, 'class': 9, 'city': 'Redhakhol'}

Q30

In [51]:
my_list = ["apple", "banana", "mango", "litchi", "orange"]

my_set = set(my_list)

print(my_set)

{'mango', 'banana', 'litchi', 'apple', 'orange'}